html {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: #2789F9;
}

button{
    border: none;
    background: none;
	color: inherit;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    display: block;
}

.home {
    margin: 0;
    display: grid;
    grid-template-rows: 12fr 1fr;
    grid-template-areas:
        ". container ."
        ". footer .";
}

.top-items {
    grid-area: container;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bottom-items {
    grid-area: footer;
    display: flex;
    justify-content: center;
}

.logo-fmi {
    width: 150px;
}

.main-button {
    display: inline-block;
    margin: 5px;
    width: 15em;
    padding: 10px 40px 10px 40px;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #066FE7;
    text-align: center;
    border-radius: 25px;
}

.top-bar {
    width: calc(100%);
    padding: 5px;
    background-color: white;
    border-color: #066fe7;
    border-style: solid;
    border-width: 1px;
}

.top-bar.content {
    display: flex;
    border-style: none;
    justify-content: space-around;
}

.fa {
    color:#066FE7;
}

.exam-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subjects-container {
    display: flex;
    padding: 10px;
    margin-top: -20px;
    align-items: center;
    flex-direction: column;
}

.subject-image {
    margin: 10px;
    border-color: #066fe7;
    border-style: solid;
    border-width: 1px;
}

.edit-list-page {
    display: flex;
    flex-direction: column;
}

.edit-list-home {
    display: block;
    padding: 20px;
    align-self: flex-start;
}

.single-home {
    color: white;
}

.subject-items-list {
    display: flex;
    margin: 20px;
    width: 990px;
    align-self: center;
    background-color: white;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding-bottom: 10px;
}

.topics-list
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.subject-title {
    color: #066fe7;
    margin-left: 20px;
    text-transform: uppercase;
    align-self: flex-start;
}

.subject-subtitle {
    color:#066fe7;
}

.subject-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    background-color: white;
    border-radius: 25px;
    width: 200px;
    border-width: 1px;
    border-style: solid;
    border-color: #066FE7;
    padding-bottom: 10px;
}

.edit-link {
    color: #066FE7; 
}

.edit-entry-page {
    display: flex;
    flex-direction: column;;
}

.entry-edit-field {
    margin: 10px;
    align-self: flex-start;
    display: grid;
    grid-template-columns: 90px 1fr;
}

.entry-field-label {
    color: #066FE7;
    grid-column: 1;
}

.input-method {
    grid-column: 2;
}

.bottom-buttons {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 50px;
    width: calc(95%);
    border-radius: 25px;
}

.bottom-button {
    color: #066FE7;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #066FE7;
    border-radius: 25px;
}

.bottom-button.delete {
    color: #ff006c;
    border-color: #ff006c;
}