html {
    font-family: "Source Code Pro", monospace;
    color: black;
}

body {
    background-image: url("../assets/subiect.png");
    background-repeat: repeat;
}

button {
    border: none;
    background: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: block;
}

.dialogue {
    margin: 0px;
    font-size: 20px;
    padding-left: 10px;
}

.home-section {
    display: block;
    margin: 20px;
    background-color: silver;
}

.log-div {
    height: 50px;
    margin: 10px;
    display: none;
}

.log-ul {
    margin: 10px;
    height: 50px;
    overflow: hidden;
    overflow-y: scroll;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: silver;
    text-align: center;
}

.footer-link {
    text-decoration: none;
    color: black;
}

.top-bar-container {
    margin: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.top-bar {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: silver;
}

.logo-fmi {
    width: 150px;
}

.main-title {
    padding: 10px;
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
}

.main-title:hover {
    color: grey;
}

.main-button {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: black;
    text-align: center;
    padding: 10px;
}

.main-button:hover {
    color: grey;
}

.top-bar.content {
    display: flex;
    border-style: none;
    justify-content: space-around;
}

.exam-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.exam-info-block {
    background-color: silver;
    align-self: flex-start;
}

.exam-info {
    margin: 0px;
    font-weight: bold;
    padding: 5px;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.subjects-container {
    display: flex;
    padding: 5px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.subject-image {
    margin: 5px;
    border-style: solid;
    border-width: 10px;
    border-color: silver;
    background-color: white;
}

.edit-list-page {
    display: flex;
    flex-direction: column;
}

.edit-list-home {
    display: block;
    padding: 20px;
    align-self: flex-start;
}

.single-home {
    color: white;
}

.subject-items-list {
    display: flex;
    margin: 20px;
    align-self: center;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.topics-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: silver;
}

.subject-title {
    color: black;
    margin: 0px;
}

.subject-subtitle {
    color: black;
}

.subject-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    background-color: silver;
    width: 200px;
    border-width: 1px;
    padding-bottom: 10px;
}

.edit-link {
    color: black;
}

.edit-entry-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
}

.edit-items-list {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: silver;
    margin: 20px;
}

.subject-photos {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 720px;
}

.photo-title {
    margin: 10px;
    font-weight: bold;
}

.entry-edit-field {
    margin: 10px;
    align-self: flex-start;
    display: grid;
    grid-template-columns: 90px 1fr;
}

.entry-field-label {
    color: black;
    grid-column: 1;
}

.input-method {
    grid-column: 2;
    width: 250px;
}

.bottom-buttons {
    background-color: silver;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.bottom-button:hover {
    color: grey;
}

.bottom-button {
    color: black;
    padding: 10px;
}

.minigame-page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game-div {
    position: relative;
    background-color: silver;
    width: 768px;
    height: 576px;
    margin: 20px;
    overflow: hidden;
}

.game-item {
    transform-origin: center;
    top: calc(90%);
    left: calc(90%);
    width: calc(10%);
    height: calc(10%);
}

@media (max-width: 1280px) {
    .top-bar {
        width: calc(100%);
    }

    .exam-info-block {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: calc(100%);
    }


    .edit-entry-page {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 5fr;
    }

    .edit-items-list {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .subject-photos {
        grid-column-start: 1;
        grid-row-start: 2;
        max-width: calc(100%);
    }
}

@media (max-width: 768px) {
    .topics-list {
        flex-wrap: wrap;
    }

    .edit-items-list {
        width: calc(100%);
    }

    .subject-edit-image {
        width: calc(100%);
    }

    .subject-image {
        width: calc(100%);
    }

    .game-div {
        max-width: calc(100%);
        max-height: 75vw;
    }
}

@media print {
    .top-bar {
        display: none;
    }

    .exam-info-block {
        display: none;
    }

    .subject-image {
        border-width: 0px;
    }

    .footer {
        display: none;
    }
}